<h1>Olá, aqui voce pode achar o que quiser sobre sua banda ou artista favorito</h1>


<%= link_to "Artistas", musicians_path %>
<br>
<%= link_to "Bandas", bands_path %>
<br>
<%= link_to "Musicas", musics_path %>
<br>
<%= link_to "Albuns", albums_path %>
<br>
<%= link_to "Download Band Info (PDF)", bands_path(@band, format: :pdf), class: "btn btn-primary" %>
<br>






