<h1>New Album</h1>

<%= form_with model: @album_form, url: albums_path, local: true do |f| %>
  <div>
    <%= f.label :album_name, "Album Name" %>
    <%= f.text_field :album_name %>
  </div>

  <div>
    <%= f.label :release_year, "Release Year" %>
    <%= f.text_field :release_year %>
  </div>

  <div>
    <%= f.label :band_name, "Band Name" %>
    <%= f.text_field :band_name %>
  </div>

  <div>
    <%= f.submit "Create Album" %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Back to albums", albums_path %>
</div>
